.venvironment/
__pycache__/
*.pyc
*.pyo
*.pyd

outputs/
.paddleocr/

.vscode/
.idea/
.vs/

*.log
requirements_locked.txt


models/model_final_clean.pth
sample_inputs/

app/obsolete/run_local_inference_old.py